<html>
    <head>
    </head>
    <body>
        <h1>Add Flight Reservation Seat</h1>
        <p>Adding flight reservation seat for DL 1930 on July 3rd, 11:00am</p>
        <form>
            <label for="seat-values">Flight Seat Selection:</label><br/>
            <select id="seat-values">
                <option value="2A">2A | First Class | + $30</option>
                <option value="3A">2A | Comfort | + $15</option>
                <option value="4A">4A | Economy | + $0</option>
                <option value="5A">5A | Economy | + $0</option>
            </select><br/><br/>
            <input type="submit" value="Add">
        </form>
    </body>
</html>