<html>
  <head>
    <script>
      /*
      On the below - I couldn't easily find a front-end Javascript function that provides
      out-of-the box UUID generation so I'm implementing this solution:

      https://stackoverflow.com/questions/105034/how-to-create-guid-uuid

      This is a mock web application so I'm more interested in POCing than finding the most
      robust and secure UUID generation possible
      */

      function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }

      function set_session_guid() {
        document.form.session_guid.value = uuidv4();
        return true;
      }

    </script>
  </head>
  <body>
    <h1>Book Reservation</h1>
    <p>User completes this form:</p>
    <form name = "form" method="post" onsubmit="set_session_guid();" action="{% url 'reservations:search-flights' %}">
      {% csrf_token %}
      <label for="departure_airport">Departing From</label><br/>
      <input type="text" id="departure_airport" name="departure_airport"><br/>
      <label for="arrival_airport">Arriving To</label><br/>
      <input type="text" id="arrival_airport" name="arrival_airport"><br/>
      <label for="departure_date">Departure Date</label><br/>
      <input type="text" id ="departure_date" name="departure_date"><br/>
      <label for="return_date">Return Date</label><br/>
      <input type="text" id="return_date" name="return_date"><br/>
      <label for="number_of_passengers">Number of Passengers</label><br/>
      <input type="text" id="number_of_passengers" name = "number_of_passengers"/><br/>
      <label for="round_trip">Round_Trip?</label>
      <input type="checkbox" id="round_trip" name="round_trip"><br/>
      <input type="hidden" id="session_guid" name ="session_guid" value="test"/>
      <input type="submit" value="Submit">
    </form>
    <p>After completing the form:</p>
    <ol>
      <li>If user isn't already signed-in they are directed to the <a href="sign-in-redirect.html">Sign-in</a> page </li>
      <li>If user is already signed-in they are directed to the <a href="choose-departure-flight.html">Choose Flights</a> page</li>
    </ol>
  </body>
</html>
