<html>
    <head>
        <style>
            table, tr, td, th {
                border: 1px solid black;
                text-align: center
            }
        </style>
    </head>
    <body>
        <h1>My Upcoming Trips</h1>
        <table>
            <thead>
                <tr>
                    <th>Reservation #</th>
                    <th></th>
                    <th>Flight #</th>
                    <th>Departure or Return</th>
                    <th>Flight Date and Time</th>
                    <th>Flight Plane Model</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">942345</td>
                    <td rowspan="2"><button>Trip Details</button></td>
                    <td>DL 1930</td>
                    <td>Departure</td>
                    <td>July 3rd at 11:00am EST</td>
                    <td>Boeing 737</td>
                    <td>ATL</td>
                    <td>BOS</td>
                    <td><button>View Flight Status</button></td>
                </tr>
                <tr>
                    <td>DL 1931</td>
                    <td>Return</td>
                    <td>July 3rd at 11:00am EST</td>
                    <td>Boeing 737</td>
                    <td>BOS</td>
                    <td>ATL</td>
                    <td><button>View Flight Status</button></td>
                </tr>
                <tr>
                    <td rowspan="2">12364</td>
                    <td rowspan="2"><button>Trip Details</button></td>
                    <td>DL 1453</td>
                    <td>Departure</td>
                    <td>July 3rd at 11:00am EST</td>
                    <td>Boeing 737</td>
                    <td>ATL</td>
                    <td>SEA</td>
                    <td><button>View Flight Status</button></td>
                </tr>
                <tr>
                    <td>DL 1454</td>
                    <td>Return</td>
                    <td>July 3rd at 11:00am EST</td>
                    <td>Boeing 737</td>
                    <td>SEA</td>
                    <td>ATL</td>
                    <td><button>View Flight Status</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
<!--
My Flights

**Information Displayed**

User Trips table

**User Input**

If user is not logged in, user is re-directed to User Login page
User is able to click into each trip and view the details

**Information Displayed Details**

_User Trips Table_:

Reservation #
# of Passengers
Flight #
Flight Date/Time
Flight Departure and Arrival airports
Flight Plane Model
Button or Hyperlink to view Flight Details
Button or Hyperlink to view Flight Status
-->