<html>
  <head>
    <style>
    table, th, td {
      border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Choose Departure Flight</h1>
    <p>User chooses one of the available flights</p>
    <table style="text-align:center">
      <tr>
        <th>Flight Date</th>
        <th>Flight Number</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Plane Make/Model</th>
        <th>Economy Fare</th>
        <th>Comfort Fare</th>
        <th>First Class Fare</th>
      </tr>
      {% for flight in flights %}
      <tr>
        <td>{{flight.departure_datetime}}</td>
        <td>{{flight.id}}</td>
        <td>{{flight.departure_datetime}}</td>
        <td>{{flight.arrival_datetime}}</td>
        <td>Plane Make/Model</td>
        <td style="padding:5px">Economy Fare<br/><a href='{% url 'reservations:confirmation' %}'>(Select)</a></td>
        <td style="padding:5px">Comfort Fare<br/><a href='{% url 'reservations:confirmation' %}'>(Select)</a></td>
        <td style="padding:5px">First Class Fare<br/><a href='{% url 'reservations:confirmation' %}'>(Select)</a></td>
      </tr>
      {% endfor %}
    </table>
    <p>User also chooses the Service Class associated with the flight</p>
    <p>If the user selected Round Trip, they would continue on to select options for the <a href="choose-return-flight.html">Return Flight</a></p>
    <p>Otherwise, user continues on to the <a href="flight-confirmation.html">Confirmation Page</a></p>
  </body>
</html>
