<html>
  <body>
    <h1>Sign-in to Account</h1>
    <p>User signs-in to existing account here</p>
    <form action="{% url 'reservations:sign-in' %}" method="post">
      {% csrf_token %}
      <label for="username">User Name</label><br/>
      <input type="text" id="username" name="username"><br/>
      <label for="password">Password</label><br/>
      <input type="password" id="password" name="password"><br/>
      <input type="submit" value = "Submit">
    </form>
    <p>Don't currently have a user account? Create new account <a href="{% url 'reservations:create-account' %}">here</a></p>
  </body>
</html>
