<html>
    <head>

    </head>
    <body>
        <h1>Update Flight Reservation Seat</h1>
        <p>Updating flight reservation seat for DL 1930 on July 3rd, 11:00am</p>
        <form>
            <label>
                Current Flight Seat:<br/>
                1A (First Class)
            </label><br/><br/>
            <label for="seat-values">New Flight Seat:</label><br/>
            <select id="seat-values">
                <option value="2A">2A | First Class | + $30</option>
                <option value="3A">2A | Comfort | + $15</option>
                <option value="4A">4A | Economy | + $0</option>
                <option value="5A">5A | Economy | + $0</option>
            </select><br/><br/>
            <input type="submit" value="Update">
        </form>
    </body>
</html>