<html>
    <head>
    </head>
    <body>
        <h1>Add Flight Reservation Seat (for departure OR return flights; will add logic)</h1>
        <h1>{{ flight_type }}</h1>
        <p>Adding flight seat reservation for Flight #{{ flight.id }} on {{ flight.departure_datetime|date:"l M dS" }} at {{ flight.departure_datetime|date:"fa" }}</p>
        <form action="{% url 'reservations:my-trips/add-flight-seat/submit' flight_type %}" method="post">
            {% csrf_token %}
            <label for="seat-values">Flight Seat Selection:</label><br/>
            <select name="seat_id" id="seat-values">
                {% for seat in available_seats %}
                <option value="{{ seat.seat_id }}">{{ seat.cabin_position }}| {{ seat.service_class }} | ${{ seat.cost }}</option>
                {% endfor %}
            </select><br/><br/>
            <input type="hidden" name="session_guid" value="{{ session_guid }}"/>
            <input type="hidden" name="flight" value="{{ flight.id }}"/>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>