<html>
  <head>
    <style>
      td,th,table {
        border:1px solid black;
        text-align:center
      }

      .flight-details {
        margin-top:40px;
        margin-bottom:40px;
      }
    </style>
  </head>
  <body>
    <h1>Check-out</h1>
      <form action="{% url 'reservations:my-trips/edit-check-out/submit' %}" method="post">
        {% csrf_token %}
        <div class="flight-details">
          <h2>Departure Flight</h2>
          <table>
            <thead>
              <tr>
                <th>Flight Number</th>
                <th>Plane Model</th>
                <th>Departure Date/Time</th>
                <th>Arrival Date/Time</th>
                <th># of Passengers</th>
                <th>Cost of Flight (US $)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ departure_flight_summary.flight_id }}</td>
                <td>{{ departure_flight_summary.plane_make }} {{ departure_flight_summary.plane_model }}</td>
                <td>{{ departure_flight_summary.departure_datetime|date:"F jS"}} at {{ departure_flight_summary.departure_datetime|date:"P T"}}</td>
                <td>{{ departure_flight_summary.arrival_datetime|date:"F jS"}} at {{ departure_flight_summary.arrival_datetime|date:"P T"}}</td>
                <td>{{ departure_flight_summary.number_of_passengers }}</td>
                <td>{{ departure_flight_summary.total_cost_flight }}</td>
              </tr>
            </tbody>
          </table>
          <h2>Return Flight</h2>
          <table>
            <thead>
              <tr>
                <th>Flight Number</th>
                <th>Plane Model</th>
                <th>Return Date/Time</th>
                <th>Arrival Date/Time</th>
                <th># of Passengers</th>
                <th>Cost of Flight (US $)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ return_flight_summary.flight_id }}</td>
                <td>{{ return_flight_summary.plane_make }} {{ return_flight_summary.plane_model }}</td>
                <td>{{ return_flight_summary.departure_datetime|date:"F jS"}} at {{ return_flight_summary.departure_datetime|date:"P T"}}</td>
                <td>{{ return_flight_summary.arrival_datetime|date:"F jS"}} at {{ return_flight_summary.arrival_datetime|date:"P T"}}</td>
                <td>{{ return_flight_summary.number_of_passengers }}</td>
                <td>{{ return_flight_summary.total_cost_flight }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flight-details">
          <h2>Flight Passenger Information</h2>
          {% for passenger in passenger_detail %}
          <fieldset style="width:50%">
            <legend>Passenger #{{ passenger.assignment_number }}</legend>
            <label>Departure Flight Seat: {{ passenger.departure_cabin_position }}</label><br/><br/>
            <label>Return Flight Seat: {{ passenger.return_cabin_position }}</label><br/><br/>
            <label for="passenger_title">Title:</label>
            <select id="passenger_title" name="passenger_title">
              <option value="Mrs.">Mrs.</option>
              <option value="Ms.">Ms.</option>
              <option value="Mr.">Mr.</option>
              <option value="Dr.">Dr.</option>
            </select><br/>
            <br/><label for="passenger_first_name">First Name:</label><br/>
            <input type="text" id="passenger_first_name" name="passenger_first_name"><br/>
            <br/><label for="passenger_last_name">Last Name:</label><br/>
            <input type="text" id="passenger_last_name" name="passenger_last_name"><br/>
            <input type="hidden" name="passenger_id" value ="{{ passenger.passenger_id }}">
          </fieldset><br/>
          {% endfor %}
        </div>
        <div id="payment">
          <h2>Payment Information</h2>
          <fieldset style="width:50%">
            <p>You will be charged a total of ${{ total_cost_reservation }} at payment submission.</p>
            <legend>Credit Card</legend>
            <label for="credit_card_number">Credit Card Number</label></br>
            <input id="credit_card_number" type="text"/>
            <br/><label for="security_code">3-digit Security Code</label></br>
            <input id="security_code" type="text"/>
            <br/><label for="expiration_date">Expiration Date</label></br>
            <input id="expiration_date" type="date"/>
          </fieldset>
          <br/><fieldset style="width:50%">
            <legend>Billing Address</legend>
            <label for="street_address">Street Address</label><br/>
            <input id="street_address" type="text"/>
            <br/><label for="city">City</label><br/>
            <input id="city" type="text"/>
            <br/><label for="state">State</label><br/>
            <input id="state" type="text"/>
            <br/><label for="zip">Zip Code</label><br/>
            <input id="zip" type="text"/>
          </fieldset>
        </div>
        <input type="hidden" name="session_guid" value="{{ session_guid }}">
        <br/><input type="submit" value="Submit Payment"/>
      </form>
  </body>
</html>