<!--
Intial Flight Confirmation Page

**Information Displayed**

Departure Flight
Arrival Flight
Flight Seats

**Inputs**

User can update the flight seats
User can update their chosen departure flight and return flight
	Send the user back to the Flight Choice pages; if user is sent back to Departure Flight page - add routing logic to skip Return Flight choice based on the Return Flight already being populated for given reservation
User can update the dates of their departure and their return flights
	Send the user back to the Booking Page, but with a session_guid populated in the URL parameter
User can add additional passengers (if seats available on current flight)

**UI Layout**

Table containing Departure Flight and Arrival Flight information
Table containing Plane Seats information

Flight Information Columns

Is Departure/Return?
Flight Number
Departure Time
Arrival Time
Update Flight Choice
  (Hyperlink for updating Flight in question)

Seat Information Columns

Seat Serial Number
Seat Positional Number
Seat Class
Update Seat Choice

(Hyperlink for adding new passengers)
-->
<html>
  <head>
    <style>
      td,th,table {
        border:1px solid black;
        text-align:center
      }

      .flight-details {
        margin-top:40px;
        margin-bottom:40px;
      }
    </style>
  </head>
  <body>
    <h1>View Trip Reservation</h1>
    <div class="flight-details">
      <h2>Departure Flight</h2>
      <table>
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Plane Model</th>
            <th>Departure Date/Time</th>
            <th>Arrival Date/Time</th>
            <th># of Passengers</th>
            <th>Cost of Flight (US $)</th>
          </tr>
        </thead>
        <tbody>
          <td>{{ departure_flight_summary.flight_id }}</td>
          <td>{{ departure_flight_summary.plane_make }} {{ departure_flight_summary.plane_model }}</td>
          <td>{{ departure_flight_summary.departure_datetime }}</td>
          <td>{{ departure_flight_summary.arrival_datetime }}</td>
          <td>{{ departure_flight_summary.number_of_passengers }}</td>
          <td>{{ departure_flight_summary.total_cost_flight }}</td>
        </tbody>
      </table>
      <h2>Departure Flight Seats</h2>
      <table>
        <thead>
          <tr>
            <th>Assignment #</th>
            <th>Service Class</th>
            <th>Cabin Position</th>
            <th>Seat Cost (US $)</th>
          </tr>
        </thead>
        <tbody>
          {% for passenger in departure_flight_detail %}
          <tr>
            <td>{{ passenger.assignment_number }}</td>
            <td>{{ passenger.service_class }}</td>
            <td>{{ passenger.cabin_position }}</td>
            <td>{{ passenger.current_retail }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="flight-details">
    <h2>Return Flight</h2>
      <table>
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Plane Model</th>
            <th>Departure Date/Time</th>
            <th>Arrival Date/Time</th>
            <th># of Passengers</th>
            <th>Cost of Flight (US $)</th>
          </tr>
        </thead>
        <tbody>
          <td>{{ return_flight_summary.flight_id }}</td>
          <td>{{ return_flight_summary.plane_make }} {{ return_flight_summary.plane_model }}</td>
          <td>{{ return_flight_summary.departure_datetime }}</td>
          <td>{{ return_flight_summary.arrival_datetime }}</td>
          <td>{{ return_flight_summary.number_of_passengers }}</td>
          <td>{{ return_flight_summary.total_cost_flight }}</td>
        </tbody>
      </table>
      <h2>Return Flight Seats</h2>
      <table>
        <thead>
          <tr>
            <th>Assignment #</th>
            <th>Service Class</th>
            <th>Cabin Position</th>
            <th>Seat Cost (US $)</th>
          </tr>
        </thead>
        <tbody>
          {% for passenger in return_flight_detail %}
          <tr>
            <td>{{ passenger.assignment_number }}</td>
            <td>{{ passenger.service_class }}</td>
            <td>{{ passenger.cabin_position }}</td>
            <td>{{ passenger.current_retail }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <p>Click <a href="{% url 'reservations:my-trips/view/submit-edit' %}?reservation_id={{ reservation_id }}">here</a> to edit the current reservation.</p>
    <p>Click <a href="{% url 'reservations:my-trips' %}">here</a> to return to view your scheduled trips.</p>
  </body>
</html>